<nav class="navbar bg-primary navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Tickets</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul *ngIf="!user" class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
      <ul *ngIf="user" class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="nav-link" href="/orders">My Orders</a>
        </li>
        <li class="nav-item">
          <button (click)="logout()" class="nav-link">Log Out</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet />
