<div
  style="height: 80vh"
  class="d-flex justify-content-center h-100vh align-items-center"
>
  <div class="col-3">
    <h1>New Event</h1>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input
        (input)="handleChange($event)"
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="title"
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <input
        (input)="handleChange($event)"
        type="text"
        class="form-control"
        id="desc"
        name="description"
      />
    </div>
    <div class="mb-3">
      <label for="startDate" class="form-label">Start Date</label>
      <input
        (input)="handleChange($event)"
        type="date"
        class="form-control"
        id="startDate"
        name="startDate"
      />
    </div>
    <div class="mb-3">
      <label for="endDate" class="form-label">End Date</label>
      <input
        (input)="handleChange($event)"
        type="date"
        class="form-control"
        id="endDate"
        name="endDate"
      />
    </div>

    <button (click)="submit()" class="btn btn-primary">Submit</button>
  </div>
</div>
